---
const repo = 'bockybocky/realpha-blog';
const repoId = 'R_kgDOTO3aZw';
const category = 'Announcements';
const categoryId = 'DIC_kwDOTO3aZ84DAl6_';
---

<section class="giscus-box" aria-label="Comments">
	<script
		src="https://giscus.app/client.js"
		data-repo={repo}
		data-repo-id={repoId}
		data-category={category}
		data-category-id={categoryId}
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="preferred_color_scheme"
		data-lang="zh-TW"
		crossorigin="anonymous"
		async
	/>
</section>
